__pycache__/
*report*
.pytest_cache/
.ruff_cache/
automation/*m3u
docs/conf.rst
docs/modules.rst
.coverage
coverage.xml
htmlcov/*
.hypothesis/
.vscode/
src/reports/
src/htmlcov/
src/.tox/
.tox/*
docs/_build/
# But not these files...
!docs/_build/html/*
rapports/
