#ldap3==2.9.1
pylint==2.12.2
pylint-common==0.2.5
pylint-plugin-utils==0.6
pytest==7.2.1
pytest-arraydiff==0.5.0
pytest-astropy==0.9.0
pytest-astropy-header==0.2.0
pytest-cov==3.0.0
pytest-doctestplus==0.11.2
pytest-filter-subpackage==0.1.1
pytest-json-report==1.5.0
pytest-metadata==2.0.4
pytest-mock==3.6.1
pytest-openfiles==0.5.0
pytest-order==1.0.1
pytest-remotedata==0.3.3
pytest-rerunfailures==11.0
pytest-xdist==3.1.0
ruff==0.0.259
Sphinx==5.0.2
sphinx-github-role==0.1.0
sphinx-multiversion==0.2.4
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
graphviz==0.20.1
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.31
gitdb==4.0.10